{% extends "layout.html" %}

{% block title %} ELIMINAR Empleado {% endblock %}

{% block content %}
    <h1>Eliminar Empleado</h1>
    <p>¿Estás seguro de que deseas eliminar el siguiente usuario?</p>

    <form method="POST" class="form-horizontal">
        <input type="hidden" id="carnetEmpleado" name="carnetEmpleado" value="{{ empleado.carnetEmpleado }}">
        
        <div class="form-group">
            <label for="name" class="control-label">Nombre:</label>
            <p>{{ empleado.nombre }}</p>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-danger">ELIMINAR</button>
            <a href="{{ url_for('empleados') }}" class="btn btn-secondary">CANCELAR</a>
        </div>
    </form>
{% endblock %}
