{% extends "layout.html" %}

{% block title %} Producto {% endblock %}

{% block content %}
<body>
    <h1>Listado de Distribuidoras</h1>
    <a href="{{ url_for('add_distribuidora') }}">Agregar Distribuidora</a>
    <table class="table">
        <tr>
            <th>Identificación</th>
            <th>Nombre</th>
            <th>Teléfono</th>
            <th>Dirección</th>
            <th>Acciones</th>
        </tr>
        {% for distribuidora in distribuidoras %}
        <tr>
            <td>{{ distribuidora.identificacion }}</td>
            <td>{{ distribuidora.nombre }}</td>
            <td>{{ distribuidora.telefono }}</td>
            <td>{{ distribuidora.direccion }}</td>
            
            <td>
                <a href="{{ url_for('view_distribuidora', identificacion=distribuidora.identificacion) }}"class="btn btn-light">Ver</a> |
                <a href="{{ url_for('edit_distribuidora', identificacion=distribuidora.identificacion) }}"class="btn btn-primary">Editar</a> |
                <a href="{{ url_for('delete_distribuidora', identificacion=distribuidora.identificacion) }}"class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
{% endblock %}

