<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styless.css') }}">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <h1>Error</h1>
        <p style="text-align: center; margin: 20px 0; font-size: 18px;">
            El usuario no existe o las credenciales son incorrectas.
        </p>
        
        <div style="text-align: center;">
            <a href="/" class="btn btn-primary btn-block">Volver al Inicio</a>
        </div>
    </div>
</body>
</html>
