{% extends "layout.html" %}

{% block title %} Producto {% endblock %}

{% block content %}
<body>
    <h1>Listado de Productos</h1>
    <a href="{{ url_for('add_producto') }}">Agregar Producto</a>
    <table class="table">
        <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Tipo</th>
            <th>Marca</th>
            <th>Distribuidora ID</th>
            <th>Acciones</th>
        </tr>
        {% for producto in productos %}
        <tr>
            <td>{{ producto.codigo_producto }}</td>
            <td>{{ producto.nombre }}</td>
            <td>{{ producto.precio }}</td>
            <td>{{ producto.tipo }}</td>
            <td>{{ producto.marca }}</td>
            <td>{{ producto.distribuidora_id }}</td>
            <td>
                <a href="{{ url_for('view_producto', codigo_producto=producto.codigo_producto) }}" class="btn btn-light">Ver</a> |
                <a href="{{ url_for('edit_producto', codigo_producto=producto.codigo_producto) }}" class="btn btn-primary">Editar</a>
                <a href="{{ url_for('delete_producto', codigo_producto=producto.codigo_producto) }}" class="btn btn-danger">Eliminar</a>        </tr>
        {% endfor %}
    </table>
</body>
{% endblock %}
